@model SistemaGestaoEscola.Web.Models.RecoverPasswordViewModel

@{
    ViewData["Title"] = "Recuperar Palavra-passe";
}

<h2>Mudar palavra passe</h2>
<hr />

<div class="row">
    <div class="col-md-6 offset-md-3">
        <form asp-action="ChangePassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Enviar Instruções</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
