@{
    ViewData["Title"] = "Não Autenticado";
}

<h1 class="text-danger">401 - Não Autenticado</h1>
<p>Você precisa estar autenticado para acessar esta página.</p>
<a asp-controller="Account" asp-action="Login" class="btn btn-primary">Fazer Login</a>
